<?xml version="1.0"?>
<config>
    <modules>
        <Tegdesign_LegacyOrders>
            <version>1.0.0</version>
        </Tegdesign_LegacyOrders>
    </modules>
    <global>
        <blocks>
            <tegdesign_legacyorders>
                <class>Tegdesign_LegacyOrders_Block</class>
            </tegdesign_legacyorders>
        </blocks>
        <helpers>
            <tegdesign_legacyorders>
                <class>Tegdesign_LegacyOrders_Helper</class>
            </tegdesign_legacyorders>
        </helpers>
        <models>
            <tegdesign_legacyorders>
                <class>Tegdesign_LegacyOrders_Model</class>
            </tegdesign_legacyorders>
        </models>
        <models>
            <tegdesign_legacyorders>
                <class>Tegdesign_LegacyOrders_Model</class>
                <resourceModel>tegdesign_legacyorders_mysql4</resourceModel>
            </tegdesign_legacyorders>
            <tegdesign_legacyorders_mysql4>
                <class>Tegdesign_LegacyOrders_Model_Mysql4</class>
                <entities>
                    <orders>
                        <table>tegdesign_legacyorders_orders</table>
                    </orders>
                </entities>
            </tegdesign_legacyorders_mysql4>
        </models>
        <resources>
            <tegdesign_legacyorders_setup>
                <setup>
                    <module>Tegdesign_LegacyOrders</module>
                </setup>
            </tegdesign_legacyorders_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <tegdesign_legacyorders module="Tegdesign_LegacyOrders">
                    <file>tegdesign/legacyorders.xml</file>
                </tegdesign_legacyorders>
            </updates>
        </layout>   
        <routers>
            <tegdesign_legacyorders>
                <use>standard</use>
                <args>
                    <module>Tegdesign_LegacyOrders</module>
                    <frontName>legacyorders</frontName>
                </args>
            </tegdesign_legacyorders>
        </routers> 
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tegdesign_legacyorders translate="title" module="tegdesign_legacyorders">
                                            <title>Legacy Orders Section</title>
                                        </tegdesign_legacyorders>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>